# ========================
# MPD private/runtime files
# ========================

mpd/.config/mpd/component
mpd/.config/mpd/playlists
mpd/.config/mpd/state
mpd/.config/mpd/socket
mpd/.config/mpd/database
mpd/.config/mpd/sticker.sql

# playlists (private)
mpd/.config/mpd/playlists/


# ========================
# Backups
# ========================

*.save
*.bak
*.backup
*_save
*_backup
*_old
*_ignore
*.ignore

wezterm_old/
wezterm/.stow-local-ignore


# ========================
# System / cache
# ========================

*.log
*.cache
.cache/

.DS_Store
Thumbs.db

# ========================
# Application state
# ========================

.local/state/
**/.local/state/

*.pid
*.sock


# ========================
# Secrets
# ========================

.env
.env.*
*.key
*.pem
*.token
*.secret

# zsh runtime history
.local/state/

# ========================
# Embedded git repos (plugins)
# ========================
zsh/.config/zsh/plugins/manual/interactive-cd/



# ========================
# Cloned from github
# ========================
~/dotfiles/github/
~/projects/github/
.config/something/github/
foo/bar/github/