// Layout without Cava Visualizer
(
    name: "Playing",
    pane: Split(
        direction: Horizontal,
        panes: [
            (size: "60%", pane: Pane(Queue)),
            (size: "40%", pane: Pane(AlbumArt))
        ],
    ),
)